@model IEnumerable<WebUI.Models.LineItemVM>

<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>We are in Cart Page</h1>
    <a hidden>@(OrderVM.currentOrder.oPrice=0)</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in OrderVM.currentLines)
            {
                <tr>
                    <td>@item.liProduct.pName</td>
                    <td>@item.liQuantity</td>
                    <td>$@item.liLinePrice <a hidden>@(OrderVM.currentOrder.oPrice = OrderVM.currentOrder.oPrice + item.liLinePrice)</a></td>
                </tr>
            }
            <tr>
                <td>
                </td>
                <td>
                    <a>Total:</a>
                </td>
                <td>
                    <a>$@OrderVM.currentOrder.oPrice</a>
                </td>
            </tr>
        </tbody>
    </table>
    @using (Html.BeginForm("ClearCart", "Order", FormMethod.Post))
    {
        <input class="btn btn-danger" type="submit" value="Clear Cart" placeholder="Name" />
    }
    <br />
    @using (Html.BeginForm("Cart", "Order", new { p_oPrice = OrderVM.currentOrder.oPrice }, FormMethod.Post))
    {
        <input class="btn btn-info" type="submit" value="Submit Order" placeholder="Name" />
    }
</body>
</html>
