@model IEnumerable<WebUI.Models.OrderVM>

<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>We are in Customer Order History Page</h1>
    <br />
    <table>
        <tr>
            <td>
                @using (Html.BeginForm("OrderList", "Customer", new { p_custID = OrderVM.currentCustomer, p_sort = 0 }, FormMethod.Post))
                {
                    <button class="btn btn-secondary" type="submit">Default</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("OrderList", "Customer", new { p_custID = OrderVM.currentCustomer, p_sort = 1 }, FormMethod.Post))
                {
                    <button class="btn btn-secondary" type="submit">Low to High Price</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("OrderList", "Customer", new { p_custID = OrderVM.currentCustomer, p_sort = 2 }, FormMethod.Post))
                {
                    <button class="btn btn-secondary" type="submit">High to Low Price</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("OrderList", "Customer", new { p_custID = OrderVM.currentCustomer, p_sort = 3 }, FormMethod.Post))
                {
                    <button class="btn btn-secondary" type="submit">Old to New</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("OrderList", "Customer", new { p_custID = OrderVM.currentCustomer, p_sort = 4 }, FormMethod.Post))
                {
                    <button class="btn btn-secondary" type="submit">New to Old</button>
                }
            </td>
        </tr>
    </table>
    <br />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>View Order Details</th>
                <th>Store Placed At</th>
                <th>Total Price</th>
                <th>Date and Time</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @using (Html.BeginForm("OrderDetails", "Customer", new { p_ordID = item.oID }, FormMethod.Post))
                        {
                            <button class="btn btn-secondary" type="submit">View Order</button>
                            <a hidden>@(OrderVM.orderHistory=item)</a>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.oStoreStreet)</td>
                    <td>@Html.DisplayFor(modelItem => item.oPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.oDateAndTime)</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Login" class="btn btn-danger" style="position:relative; top:15px; width:100px">Back</a>
</body>
</html>
