@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To GameShop!</h1>
    <p>Please select a customer and store before checking out cart.</p>
</div>
