@model IEnumerable<WebUI.Models.ProductVM>

<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>We are in Shopping Page</h1>
    <a class="btn btn-secondary" style="position:relative; bottom:15px" asp-action="Create">Add a New Product</a>
    <div>

    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Release Date</th>
                <th>Add to Order</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.pName)</td>
                <td>@Html.DisplayFor(modelItem => item.pPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.pReleaseDay)</td>
                <td>
                    @using (Html.BeginForm("AddToOrder", "Shopping", new { p_prod = item.pID }))
                    {
                        @Html.TextBox("p_quant", 0, new { @type = "number" })
                        <button type="submit">Add To Order"</button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
